<div id="page_body">
	<div class="column">
		<h1>Search the <i>Holt Weekly News</i> and (Holt) <i>Northern Light</i></h1>
		<div class="box">
			<form action="/images/list/">
				<label for="search_box_text">Search</label>
				<input type="text" id="search_box_text" name="search_text" />
				<input type="submit" id="search_box_button" value="&gt;" />
			</form>
			<p><i>Try entering a simple search term, like a last name.</i></p>
		</div>
		<h1><a href="/issues/">Browse the Newspapers by Date >></a></h1>
		<!--div class="box" id="browse_box">
		</div-->
		<h1>Why are there so many misspellings and random characters when I search?</h1>
		<p>In order for a particular name or other search term to be picked out, pure text must
		be extracted from the columns, headlines, ads and other print in the 4,906 images that
		make up this newspaper. This requires the use of a process called OCR (Optical Character
		Recognition). In this process, a computer "reads" the text from an image and saves it into
		a database. While the human eye can easily read the text on this paper, OCR software has
		trouble picking out text from the shadows and specks on newspaper that was filmed decades
		after it was printed. Because of this, the software may mis-recognize the text on a page,
		and so you might see an "e" instead of an "a", a "$" instead of an "S", or perhaps even
		an entire word or line mangled into unreadability. However, this is only an issue when
		searching for a given keyword -- when you view a given page, you see it just as it was
		filmed.
		</p>
	</div>
	<div class="column">
		<h1>What is the Holt Weekly News?</h1>
		<p>The <i>Holt Weekly News</i> and <i>Northern Light</i> are the names of a newspaper that was
		published in Holt, Minnesota, from 1911 to 1952.
		The first issue was published as the <i>Northern Light</i> on August 4, 1911.
		The paper was renamed the <i>Holt Weekly News</i> starting with the March 27, 1914 issue.
		The last issue of the paper was published on May 30, 1952. According to the
		<a href="/images/show/1596">last issue</a>, the
		publication of the paper was ended when Western Newspaper Union discontinued its Ready Print service.
		</p>
		<h1>Where is Holt?</h1>
		<p><a href="http://www.wiktel.net/com/holt/">Holt</a> is located in northwestern Minnesota 
		(United States) on Highway 32, 11 miles north of
		<a href="http://www.visitthiefriverfalls.com/">Thief River Falls</a>, or about 60 miles south of
		Manitoba, Canada and 40 miles east of North Dakota. The current population of Holt is 89 people, and
		the surrounding townships of Holt and Excel have 147 and 280 people, respectively.</p>
		<h1>Where are pictures of Holt?</h1>
		<p>A search at the Pennington County Historical Society's website turns up a <a href="http://www.pvillage.org/search.asp?Search=Holt">
		number of historic photos</a> of the town. Note that Holt is in Marshall County and the Marshall
		County Historical Society may have photos as well. A few modern photos of Holt are available
		<a href="http://www.afiler.com/everydot/mn/holt">here</a>.
		</p>
	</div>
	<div class="column">
		<h1>What is <i>holtweeklynews.com</i>?</h1>
		<p>Holtweeklynews.com is a personal project of <a href="http://www.afiler.com">Andrew Filer</a>,
		on his own time and expense. His family has lived in the Holt area since 1917.
		</p>
		<h1>How was the site created?</h1>
		<p>The images for the site came from microfilm images taken of the newspaper by the
		<a href="http://www.mnhs.org">Minnesota Historical Society</a> in the 1960's.
		In 2005, the films were borrowed from the Godel Memorial Library in Warren, MN.
		<a href="http://www.microfacs.com">Microfacs</a> of Minneapolis (St Louis Park) was hired to
		digitize the film. The images were processed using OCR (Optical Character Recognition) software
		to make the digital images searchable as text. Custom software was written for the site to make
		the large images accessible and searchable.
		</p>
	</div>
</div>
