<html>
<head>
  <title>Issues: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'screen' %>
  <%= stylesheet_link_tag 'print', :media=>'print' %>
</head>
<body>

<%= @content_for_layout %>

</body>
</html>
