<% for column in Paper.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @paper.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @paper %> |
<%= link_to 'Back', :action => 'list' %>
